.Pokecard {
   display: inline-block;
   background-color: lavender;
   text-align: center;
   width: 8em;
   margin: 1em;
   padding: 1em;
   border-radius: 12px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Pokecard-name {
   font-weight: bold;
   color: black;
}

.Pokecard-img {
   width: 105%;
}
.Pokecard-data {
   font-size: 65%;
}